.form
{
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    
    text-align: center;
    border: yellow 5px solid;
}
.form div
{
    margin-top:30px ;
}
.labl
{
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 20px;
}
input
{
    width: 400px;
    height: 30px;
    text-align: center;
}
.sub
{
    width: 130px;
    height: 50px;
    color: aliceblue;
    font-size: large;
    border-radius: 30px;
    background-color: yellowgreen;
    margin-bottom: 50px;
    margin-right: 80px;
}